<div class="rank">
  <div class="filter-rank row">
      <div class="filter-by col-sm-4">
        <label>Giải đấu: </label>
        <select class="select-fillter" id="league">
          <option>Anh</option>
          <option>Tây Ban Nha</option>
          <option>Pháp</option>
          <option>Đức</option>
          <option>C1</option>
          <option>C2</option>
        </select>
      </div>
      <div class="filter-by col-sm-4">
        <label >Mùa giải</label>
        <select class="select-fillter" id="session">
          <option>2020-2021</option>
          <option>2019-2020</option>
          <option>2018-2019</option>
          <option>2017-2018</option>
        </select>
      </div>
  </div>
  <div class="detail-rank">
    <table class="table" width="100%">
      <thead>
      <tr>
        <th width="40%">Câu lạc bộ</th>
        <th width="5%">ĐĐ</th>
        <th width="5%">Thắng</th>
        <th width="5%">Hòa</th>
        <th width="5%">Thua</th>
        <th width="5%">BT</th>
        <th width="5%">SBT</th>
        <th width="5%">HS</th>
        <th width="5%">Đ</th>
        <th width="20%">5 trận gần nhất</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-1">1</div>
          <div class="col-sm-2">logo</div>
          <div class="col-sm-8">Manicity</div>
        </td>
        <td>30</td>
        <td>22</td>
        <td>5</td>
        <td>3</td>
        <td>64</td>
        <td>21</td>
        <td>43</td>
        <td>71</td>
        <td>30</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
